CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="JSH-03"
CONFIG_FIRMWARE_INCLUDE_SFE=y
CONFIG_LINUXDIR=linux-3.4.x
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_USB=n
CONFIG_FIRMWARE_ENABLE_UFSD=n
CONFIG_FIRMWARE_ENABLE_FAT=n
CONFIG_FIRMWARE_ENABLE_EXFAT=n
CONFIG_FIRMWARE_ENABLE_EXT2=n
CONFIG_FIRMWARE_ENABLE_EXT3=n
CONFIG_FIRMWARE_ENABLE_EXT4=n
CONFIG_FIRMWARE_ENABLE_XFS=n
CONFIG_FIRMWARE_ENABLE_FUSE=n
CONFIG_FIRMWARE_ENABLE_SWAP=n
CONFIG_FIRMWARE_INCLUDE_UVC=n
CONFIG_FIRMWARE_INCLUDE_HID=n
CONFIG_FIRMWARE_INCLUDE_SERIAL=n
CONFIG_FIRMWARE_INCLUDE_AUDIO=n
CONFIG_FIRMWARE_INCLUDE_QOS=n
CONFIG_FIRMWARE_INCLUDE_IMQ=n
CONFIG_FIRMWARE_INCLUDE_IFB=n
CONFIG_FIRMWARE_INCLUDE_IPSET=n
CONFIG_FIRMWARE_INCLUDE_NFSD=n
CONFIG_FIRMWARE_INCLUDE_NFSC=n
CONFIG_FIRMWARE_INCLUDE_CIFS=n
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n
CONFIG_FIRMWARE_INCLUDE_LPRD=n
CONFIG_FIRMWARE_INCLUDE_U2EC=n
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n
CONFIG_FIRMWARE_INCLUDE_HDPARM=n
CONFIG_FIRMWARE_INCLUDE_PARTED=n
CONFIG_FIRMWARE_INCLUDE_SMBD=n
CONFIG_FIRMWARE_INCLUDE_SMBD36=n
CONFIG_FIRMWARE_INCLUDE_WINS=n
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n
CONFIG_FIRMWARE_INCLUDE_FTPD=n
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=n
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
CONFIG_FIRMWARE_INCLUDE_SFTP=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n
CONFIG_FIRMWARE_INCLUDE_OPENSSH=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN_WEBUI=n
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=n
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n
CONFIG_FIRMWARE_INCLUDE_ARIA=n
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n
CONFIG_FIRMWARE_INCLUDE_VNT=y